p.one{
    border-style: solid 1px ;
   border-width: 10px;
   }
   p.two{
       border-style: dashed 1px;
       border-width: 10px;
   }
   p.three{
       border-style: double;
       border-width: 10px;
   }
   p.four{
       border-style: inset 1px;
       border-width: 10px;
   }
   p.fove{
       border-style: solid;
       border-width: 8px;
   }
   p.six{
       border-style: outset;
       border-width: 5px;
   }